// File Name: _base.scss
// Link     : assets/scss/_base.scss
// Desc     : 変数設定セクション | Section for setting variables
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');
// Font Famyly
$f1: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// Color 
$color1 : #000000;
$color2 : #FFFFFF;
$color3 : #9f0e15;
$color4 : #1a1a1a;
$color5 : #4d4d4d;
$color6 : #f2f2f2;
$color7 : #999999;
$color8 : #b3b3b3;




// Transition
@mixin transition($val){
	-webkit-transition: ease all $val;
	-moz-transition: ease all $val;
	-ms-transition: ease all $val;
	-o-transition: ease all $val;
	transition: ease all $val;
}

// Text-size-adjust
@mixin text-size-adjust($val){
    text-size-adjust: $val;
    -webkit-text-size-adjust: $val;
    -moz-text-size-adjust: $val;
    -ms-text-size-adjust: $val;
    -o-text-size-adjust: $val;
}

// opacity: 0.8;
@mixin opacity($val){
    opacity: $val;
}

// setting text
@mixin setting_text($cl, $fz, $fw, $lh, $lp){
    color: $cl;
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $lp;
}

// display:flex;
@mixin display-flex(){
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
// display:flex;
@mixin txt($fz,$fw,$lt,$lh){
    font-size: $fz;
    font-weight: $fw;
    letter-spacing: $lt;
    line-height: $lh;
 }
  

 @mixin before($w,$h){
    content: "";
    position: absolute;
    width: $w;
    height: $h;
    z-index: 0;
 }
  
  

 