
.header{
    display: flex;
    align-items: center;
    position: relative;

    &__left{
        width: 615px;
    } 

    &__right{
        width: calc(100% - 615px);
    }


    &__logo{
        &-kawamura{
            position: absolute;
            top: 0;
            left: 0;
        }
    
        &-kds{
            margin-left: 191px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &__menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: rgb(159,14,21);
        background: linear-gradient(90deg, rgba(159,14,21,1) 0%, rgba(96,15,19,1) 100%);
    
        &-before{
            position: relative;
            &::before{
                @include before(120px,100px);
                top: 0;
                left: 0;
                background: rgb(159,14,21);
                background: linear-gradient(90deg, rgba(159,14,21,1) 0%, rgba(96,15,19,1) 100%);
            }
        }
    
        &-list{
            display: flex;
            margin-right: 300px;
    
            li{
                &:not(:last-child){
                    margin-right: 20px;
                }
                a{
                    position: relative;
                    height: 94px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    @include setting_text($color2, 19px, 600, 150%, 0);
                    &::after{
                        @include before(100%,15px);
                        left: 0;
                        bottom: 15px;
                        background-position: center bottom;
                        background-repeat: no-repeat;
                    }
    
                    &.active::after,
                    &:hover::after{
                        background-image: url('../img/icon_01.svg');
                    }
                }
            }
        }
    
        &-contact{
            background: $color3;
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: rgba(96,15,19,1);
            }
            &--img{
                margin-right: 15px;
            }
            &--txt{
                @include setting_text($color2, 19px, 600, 150%, 0);
            }
        }
    }

}
