@media (max-width: 1700px) {    
    .gp_top_1{
        // padding:8vw 7.2917vw  5vw;
        &__head{
            h3{
                padding-bottom: 2vw;
            }
            h4{
                padding-bottom: 2vw;
            }
        }
    }

    
}

@media (max-width: 1600px) and (min-width: 1300px) {
    .gp_top_1{
        padding: 9.375vw 7.2917vw 10.4688vw 8.6771vw;
        background-size: 53vw;
    }
}

@media (max-width: 1600px) {
    [class*="grid-"] {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tsu_header{
        padding: 1.4375vw 1.5625vw;
        &_menu li {
            margin-left: 3vw;
            a{
                font-size: $fz16;
            }
        }
        &_btn a {
            font-size:  $fz16;
            width: 15vw;
            height: 4.9375vw;
            border-radius: 2.5vw;
            padding-bottom: .1875vw;
        }
    }
    .mv {
        &::before{
            border-top-width: .375vw;
        }
    }

    .txt_default__fz18 p {
        font-size: $fz16;
    }

 

    .gp_top_1 {
        width: 53vw;
        margin-bottom: 8.75vw;

        p {
            padding-bottom: 3vw;
        }
        .btn_c1 {
            padding-right: 1vw;
        }
        &__head h3{
            span {
                padding-bottom: 1vw;
                font-size: $fz1;
            }
            img {
                margin-left: -2vw;
            }
        } 
    }

    .top_busi{
        &__head {
            padding-bottom: 4.375vw;
        }
        &__cont p {
            padding-bottom: 3.125vw;
        }
    }

    .wrap_ul_01 {
        padding-bottom: 2.625vw;
    }

    .sec_top_1::after {
        right: -9.4896vw;
    }

    .top_appli {
        padding: 5.9375vw 0 7.8125vw;
        &__head {
            padding-bottom: 6.4375vw;
        }
        &__cont p {
            padding-bottom: 2.9375vw;
        }
    }

    .wrap_title{
        &__01{
            span {
                padding-bottom: .8125vw;
                font-size: $fz1;
            }
            img{
                height: 30px;
            }
        }
        &__02{
            font-size: $fz24;
        }
        &__03 img{
            height: 6.875vw;
        }
    }

    .top_news {
        padding: 6.25vw 0 6.6875vw;
        &__head h3 {
            padding-bottom: 6.25vw;
        }
    }

    .gp_foot{
        &_menu {
            height: 4.0625vw;
            li a {
                font-size: $fz16;
            }
        }
        &_cont {
            padding: 4.6875vw 0 2.125vw;
            &_address {
                padding: 1.25vw 0 2.75vw;
            }
            &_phone {
                padding-bottom: 1.875vw;
            }
        }
    }

    .banner {
        img{
            height: 7.5vw;
        }
    }

    .work{
        &__head {
            margin-bottom: 12.8125vw;
        }
        &__main{
            padding-bottom: 6.25vw;
            &__cont {
                padding-bottom: 7.5vw;
                top: -3.4375vw;
            }

          

            &__gp{
                &:nth-child(2) .work__main__gp__cont {
                    padding: 0 1vw;
                }
                &__cont{
                    padding: 0 1vw;
                    height: 22vw;
                    .num__01 {
                        top: -3.3125vw;
                        width: 4.9375vw;
                        &__h{
                            bottom: 1.375vw;
                            right: 1.375vw;
                            img{
                                height: 8.3125vw;
                            }
                           
                        }
                    }
                }
            }

            &::before {
                top: -6.5vw;
                height: 7.8125vw;                
                background-size: contain;
            }
        }
    }

    .btn_more__02 {
        max-width: 49.875vw;
        height: 8vw;
        border-radius: 4vw;
    }

    .voice{
        &__head {
            margin-bottom: 5.875vw;
        }
        &__wrap{
            padding-top: 4.375vw;
        }
        &__gp {
            padding: 5.625vw 0 5vw;
        }
        &__btn {
            padding: 6.875vw 0 6.25vw;
        }
    }

    .comp {
        &__mess{
            padding: 5.8125vw 0 12.5vw;
        }
        &__gp {
            padding: 6.25vw 0 6.25vw 6.25vw;
            margin-bottom: 6.25vw;
            &__cont__box {
                padding: 2.5vw 0 3.125vw;
            }
            &.maps {
                margin-right: -22.5vw;
            }
        }
    }
    .sp_title{
        left: -3.3vw;
        font-size: $fz1;
    }

    .rec_01{
        left: -12vw;
    }

    .Opera,.Edge{
        .gp_top_1 p {
            letter-spacing: -0.1px;
        }

        .txt_default p{
            letter-spacing: -0.7px;
        }

        .work__main::before{
            top: -6.4vw;
        }
    }

    .contact__head::before {
        width: 17.6875vw;
        height: 15.5625vw;
        bottom: 2.8125vw;
        right: 2vw;
    }

    
    // end 1600
}

@media (max-width: 1350px) {
    .gp_top_1{
        padding: 8vw 7vw 5vw;
    }

    .layout_comp__01, .appli{
        .grid-1200 {
            max-width: 80vw;
        }
    }

    .polka_dot{
        &__02,&__04,&__05{
            left: 1vw;
        }
    }

    .banner{
        height: 45vw;
    }
     
}

@media (max-width: 1265px) {
    .txt_default__fz18 p{
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .layout_comp__01, .appli{
        .grid-1200 {
            max-width: 100%;
        }
    }
    .gp_top_1 {
        width: 62.1vw;
        margin-left: 3vw;
        padding: 10vw 9.5vw 8vw;
    } 
    .top_news{
        &__head {
            width: 22.5vw;
        }
        &__cont {
            padding-top: .8333vw;
            width: calc(100% - 22.5vw);
            a{
                font-size: $fz15;
                padding: 1.375vw 2.5vw;
                span {
                    padding-right: 5vw;
                }
            }
        }
    }

    .tsu_header{
        &_logo{
            h1 img{
                width: 20.25vw;
            }
        }
        &_menu li {
            margin-left: 1vw;
            a{                
                font-size: $fz15;
            }
        }
        &_btn a{
            font-size: $fz15;
        }
    }

    .txt_default__fz18 p {
        font-size: $fz14;
    }

    .gp_foot_menu li {
        margin-left: 4.5833vw;
    }

    #page_top img{
        width: 7.25vw;
    }

    .wrap_ul_01 li {
        padding-left: 6.6667vw;
        margin-bottom: 1.1667vw;
        font-size: $fz20;
        &::after {
            left: 4vw;
            width: 1.75vw;
        }
    }

    .work__main__gp__cont{
        width: 59vw;
        height: 25vw;
        margin-top: 1.1vw;

        .num__01{
            top: -5vw;
        }
    }

    .wrap_title{
        &__04{
            img{
                height: 3.0833vw;
            }
            span {
                margin-top: 4.1667vw;
                padding-left: 1.1667vw;
                font-size: $fz24;
            }
        }
        &__05 {
            padding-bottom: 1vw;
            margin-bottom: 2.5vw;
            font-size: $fz1;
        }
        &__07{
            img{
                height: 3.1667vw;
            }
            span {
                padding-top: 2.5vw;
                font-size: $fz16;
                strong{
                    font-size: $fz20;
                    padding-bottom: .6667vw;
                }
            }
        }
        &__08 {
            margin-bottom: 1.6667vw;
            font-size: $fz24;
            .txt{
                font-size: $fz15;
            }
        }
        &__09 {
            padding-left: 4.5833vw;
            font-size: $fz20;
            margin-bottom: 1.8333vw;
            &::before {
                width: 3.6667vw;
                height: 3.6667vw;
            }
        }

        &__10{
            font-size: $fz20;
        }
    }

    .busi{
        &__head {
            padding-bottom: 8.3333vw;
        }
        &__main{
            &__title p {
                padding-bottom: 4.5833vw;
            }
            &__cont {
                padding-bottom: 5.3333vw;
            }
            &__detail{
                padding-bottom: 7.6667vw;
                &__gp{
                    .img{
                        width: 49.1667vw;
                    }
                    .txt {
                        padding-left: 4.5833vw;
                    }
                }
            }
        }
    }

    .voice__gp__box{
        padding-bottom: 3.3333vw;
        &__head{
            padding-bottom: 3.75vw;
        }
        &__cont{
            width: calc(100% - 33.3333vw);
            padding-right: 15px;
        }
        &__detail .txt {
            padding-left: 4.5833vw;
            padding-bottom: 2.9167vw;
            &::before{
                width: 3.6667vw;
                height: 3.6667vw;
            }
        }
        &__img{
            width: 33.3333vw;
        }
        &:nth-child(2n){
            .voice__gp__box__cont{
                padding-right: 0;
                padding-left: 15px;
                padding-top: 4.4167vw;
            }
        }
    }

    .sp_title{
        display: none;
    }

    .comp{
        &__head .wrap_title__04 {
            padding-bottom: 3.5833vw;
        }

        &__mess{
            &__img{
                width: 46.25vw;
            }
            &__cont{
                width: calc(100% - 46.25vw);
                padding-left: 4vw;
            }
        }
        &__gp{
            &__head{
                &__cont{
                    width: calc(100% - 40.8333vw);
                    p{
                        padding-left: 1.6667vw;
                        padding-right: 15px;
                    }
                }
                &__img {
                    width: 40.8333vw;
                    padding-top: 8.3333vw;
                    padding-right: 2.5vw;
                }
            }
            &__cont{
                &__box{
                    &__txt {
                        padding-left: 1.6667vw;
                        width: calc(100% - 27.0833vw);
                        padding-right: 15px;
                    }
                    &__img {
                        width: 27.0833vw;
                        flex-flow: column;
                        align-items: flex-end;
                        justify-content: center;
                        padding-right: 2.5vw;
                        padding-top: .8333vw;
                        img{
                            height: 16.1667vw;
                        }
                    }
                }
                table td {
                    padding: 1.6667vw;
                    font-size: $fz15;
                }
            }

        }  
        
        &__sdgs .comp__head {
            padding-bottom: 4.1667vw;
        }
    }  

    .contact{
        // padding: .5833vw 2vw 8.3333vw;
        &__head {
            padding-bottom: 7.5vw;
        }
        &__main{
            table{
                width: 100%;
                td{
                    padding-bottom: 3.75vw;
                }
            }
        }
    }

    .gp_submit label {
        padding: 1.2083vw;
        margin-bottom: 3.6667vw;
    }

    .btn__submit {
        margin-top: 5vw;
    }

    .tsu_header_btn a::before {
        right: 2vw;
    }
    // end 1200
}

@media (max-width: 1000px) {
    .tsu_header_btn a::before {
        right: 1vw;
    }
    .gp_top_1{
        background-size: cover;
        width: 640px;
        height: 640px;
     
        margin-left: auto;
        margin-right: auto;
    }

    .top_news__cont a{
        font-size: $fz14;
        border-bottom: $color8 dashed 1px;
    }

    .busi__main__cont{
        padding-bottom: 3vw;
        &.busi_main_c2{
            padding-top: 1.5vw;
            .wrap_title__06{
                margin-bottom: 0;
            }
        }
        &__box {
            width: calc((100% - 2.001vw) / 2);
            margin-right: 2vw;
            margin-bottom: 3vw;
            img{
                width: 100%;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }

    .comp__gp__cont table.tb_application td{
        &:first-child{
            width: 19.2vw;
        }
        &:last-child{
            padding-left: 5.5vw;
        }
    }

    .top_news__head{
        padding-right: 15px;
    }

}

@media (max-width: 900px) {
    .page_home .tsu_header {
        background: $color3;
    }
    .tsu_header{
        background: $color3;
        padding: 1.4375vw 1.5625vw ;
        &_logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_menu,&_btn{
            display: none;
        }
        &_menu{
            width: 100%;
            position: absolute;
            top: 8vw;
            left: 0;
            background: #ffffff;
            z-index: 3;
            padding: 0 15px;
            li{
                display: block;
                width: 100%;
                justify-content: center;
                border-top: 1px dashed #eee;
                padding: 1.3333vw;
                margin-left: 0;
                &.show_sp {
                    display: block;
                }
                a{
                    color: #000000;
                    padding: 18.75px;
                    width: 100%;
                    text-align: center;
                    &.active::before{
                        width: 50px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    #menu {
		display: block;
		position: relative;
        >div {
            width: 30px;
            height: 20px;
            position: relative;
            display: flex;
        }
        span {
            background: #000000;
            -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
            position: absolute;
            width: 25px;
            height: 2px;
            -webkit-transition: top 0.1s ease 0.3s, background 0.1s ease 0.3s, -webkit-transform 0.3s ease;
            transition: top 0.1s ease 0.3s, background 0.1s ease 0.3s, -webkit-transform 0.3s ease;
            transition: top 0.1s ease 0.3s, transform 0.3s ease, background 0.1s ease 0.3s;
            transition: top 0.1s ease 0.3s, transform 0.3s ease, background 0.1s ease 0.3s, -webkit-transform 0.3s ease;
            &:nth-child(1) {
                top: 1px;
            }
            &:nth-child(2) {
                top: 49%;
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }

        .change span {
            -webkit-transition: top 0.1s ease, background 0.1s ease, -webkit-transform 0.3s ease 0.1s;
            transition: top 0.1s ease, background 0.1s ease, -webkit-transform 0.3s ease 0.1s;
            transition: top 0.1s ease, transform 0.3s ease 0.1s, background 0.1s ease;
            transition: top 0.1s ease, transform 0.3s ease 0.1s, background 0.1s ease, -webkit-transform 0.3s ease 0.1s;
            &:nth-child(1) {
                top: 50%;
                -webkit-transform: translateY(-50%) rotate(315deg);
                transform: translateY(-50%) rotate(315deg);
            }
            &:nth-child(2) {
                -webkit-transform: translateY(-50%) rotate(405deg);
                transform: translateY(-50%) rotate(405deg);
                display: none;
            }
            &:nth-child(3) {
                top: 50%;
                -webkit-transform: translateY(-50%) rotate(405deg);
                transform: translateY(-50%) rotate(405deg);
            }
        
        }
    
	}

	.chane-x {
		display: inline-block;
		position: relative;
		cursor: pointer;
	}

    .gp_top_1 {
        padding: 17vw 9.5vw 8vw;
        // margin-top: 5vw;
        // margin-bottom: 4vw;
        margin-top: 9vw;
        margin-bottom: -3vw;
    }

    .top_news{
        &__head,&__cont {
            width: 100%;
        }

        &__head{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-right: 0;
            h3{
                padding-bottom: 0;
            }
        }
    }

    .gp_foot{
        &_menu{
            height: 6vw;
            li {
                margin-left: 4vw;
            }
        }
        &_cont{
            &__logo img{
                width: 40.3333vw;
            }
            &_phone{
                img{
                    height: 3.1111vw;
                }
                &_fax{
                    padding-left: 7.2222vw;
                    &::before{
                        left: 2.4444vw;
                        width: 1.8889vw;
                        height: 4vw;
                        background-size: contain;
                    }
                }
            }
        }
    }

    #page_top {
        bottom: 0;
        right: 20px;
    }

    .banner{
        height: 45vw;
        &__bg_page{
            background-size: cover;
        }
    }

    .work__main__gp{
        padding-left: 15px;
        padding-right: 15px;
        &__img{
            position: relative;
            margin-top: 3vw;
        }
        &__cont{
            height: 34vw;
            margin-left: 2vw;
            width: calc(100% - 2vw - 33.125vw);
            padding: 0 15px;
            margin-top: 0;
            &::before{
                content: none;
            }
        }
        &:nth-child(2n){
            .work__main__gp{
                &__img{
                    order: 1;
                }
                &__cont{
                    margin-right: 2vw;
                }
            }
        }
    }

    .voice__gp__box{
        &__img{
            display: none;
        }
        &__cont{
            width: 100%;
            padding-top: 0;
            padding-right: 0;
        }
        &__detail{
            .img.show_sp{
                display: block;
                img{
                    width: 438px;
                    border-radius: 100%;
                    display: block;
                    margin: 0 auto 4vw;
                }
            }
        }
        &:nth-child(2n) .voice__gp__box__cont{
            padding-left: 0;
        }
    }

    .comp{
        &__mess{
            &__img{
                display: none;
            }
            &__cont{
                padding-left: 0;
                width: 100%;
                &__head .show_sp{
                    display: block;
                    margin-bottom: 15px;
                }

                .author {
                    padding-top: 3.1111vw;
                }
            }
        }
        &__gp{
            padding: 6.25vw 0 6.25vw 15px;
            &__cont{
                &__box__txt p {
                    padding-bottom: 3vw;
                }
                iframe {
                    height: 55.5556vw;
                }
        }
        }
    }

    .txt_default p .show_pc{
        display: none;
    }

    .wrap_title__10::before {
        top: 1.7778vw;
        left: -1.8889vw;
        width: 1.1111vw;
        height: 1.1111vw;
    }

    .appli {
        padding: 2.2222vw 0 11.1111vw;
    }

    .contact__main table td{
        input[type=text], input[type=email] {
            height: 6vw;
        }
        textarea {
            height: 24.4444vw;
        }
        &.in_address span:last-child{
            display: block;
            padding-top: 5px;
        }
    }

    .news {
        padding: 0 0 11.1111vw;
    }

    .sec_top_1{
        &::after{
            content: none;
        }
        &__rec{
            display: block;
            padding: 0 15px;
        }
    }

    .top_appli__cont p{
        width: 100%;
    }

    .contact__main {
        padding: 9.4vw 0 10vw;
    }

    
    // end 900
}

@media (max-width: 767px) {
   
    .tsu_header{
        padding: 0 15px;
        height: 58px;
        &_logo h1 img {
            width: 160px;
        }
        &_menu{
            top: 58px;
            li a::before{
                bottom: 10px;
                height: 2px;
            }
        }
    }

    .mv{
        background-position: center bottom 20px;
        height: 415px;
        align-items: flex-start;
        padding-top: 65px;
        h2{
            font-size: $fz1;
            span{
                font-size: $fz22;
            }

            strong.fz_45 {
                font-size: $fz20;
            }
        }
        background-size: 380px;
    }

    .gp_top_1{
        width: 100%;
        height: auto;
        margin-left: 0;
        background: $color2;
        border-radius: 20px;
        padding: 15px;
        &__head h4{
            font-size: $fz20;
            span{
                font-size: $fz24;
            }
        }
    }

    .top_news{
        &__head{
            padding-bottom: 15px;
        }
        &__cont{
            padding-bottom: 30px;
        }
        a.show_sp{
            display: flex;
            background-color: $color5;
        }
    }

    .btn_more{
        height: 50px;
        font-size: $fz14;
    }

    .gp_foot{
        &_menu {
            display: none;
        }
        &_cont{
            &__logo img{
                width: 220px;
            }
            &_phone {
                text-align: center;
                p{
                    padding-top: 0;
                }
                img{
                    height: 18px;
                }
                &_fax{
                    padding-top: 30px;
                    padding-left: 0;
                    &::before{
                        content: none;
                    }
                }
            }
        }

    }

    .show_sp{
        display: block;
    }

    .show_pc{
        display: none;
    }

    #page_top {
        bottom: 15px;
        right: 15px;
        img {
            width: 30px;
        }
    }

    .wrap_ul_01 li{
        font-size: $fz16;
        padding-left: 40px;
        &::after {
            left: 27px;
            width: 10px;
        }
    }

    .gp_top_1__head h3 img{
        height: 24px;
    }

    .btn_more__02{
        height: 50px;
        border-radius: 25px;
        img{
            height: 15px;
        }
    }

    .banner{
        height: 240px;
        padding-top: 50px;
        background-size: cover;
        background-position: center;
        img{
            height: 13vw;
        }
        &__bg_page{
           border-width: 3px;
        }
    }

    .sec_top_1{
        padding: 0 15px 30px;
        &__rec{
            padding: 0;
        }
    }

    .top_busi{
        .grid-1200{
            padding-left: 0;
            padding-right: 0;
        }
    }


    .work__main{
        &__cont{
            top: 0;
        }
        &__gp{
            padding-left: 15px;
            padding-right: 15px;
            &__img{
                width: 100%;
                margin-bottom: 30px;
            }
            &__cont{
                width: 100%;
                margin-left: 0;
                height: auto;
                padding: 15px;

                .num__01{
                    width: 30px;
                    img{
                        height: 30px;
                    }
                }
            }

            &:nth-child(2n){
                .work__main__gp{
                    &__cont {
                        margin-right: 0;
                        padding: 15px;
                    }
                    &__img {
                        order: 0;
                        z-index: 1;
                    }
                }
            }
        }
        &::before{
            top: -24px;
        }
    }

    .wrap_title{
        &__01 img {
            height: 24px;
        }
        &__02 {
            font-size: $fz1;
        }

        &__03 img {
            height: 50px;
        }

        &__04{
            span{
                font-size: $fz1;
                border-left-width: 3px;
            }
            img{
                height: 20px;
            }
        }

        &__06{
            font-size: $fz16;
            margin-bottom: 5px;
            &.title__f_06::before{
                width: 2px;
            }
        }

        &__07{
            img{
                height: 22px;
            }
            span{
                font-size: $fz14;
                strong{
                    display: inline-block;
                    font-size: $fz16;
                }
            }
        }

        &__08{
            font-size: $fz20;
            .txt{
                font-size: $fz14;
            }
        }

        &__09{
            padding-left: 30px;
            font-size: $fz1;
            &::before{
                width: 24px;
                height: 24px;
                top: 4px;
            }
        }

        &__10{
            padding-bottom: 0;
            &::before{
                top: 15px;
            }
        }
    }

    .busi__main{
        &__title p{
            width: 100%;
        }
        &__cont__box{
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }
        &__detail__gp{
            .img{
                width: 100%;
            }
            .txt{
                width: 100%;
                padding-left: 0;
            }
        }
    }

    .txt_default p{
        font-size: 14px;
    }

    .voice__gp__box{
        &__head p span {
            font-size: $fz1;
        }
        &__detail .txt{
            padding-left: 30px;
        }
        &__detail .txt::before{
            width: 240px;
            height: 24px;
            top: 4px;
        }
    }

    .comp{
        &__gp{
            padding: 6.25vw 0 6.25vw 15px;
            &__head{
                &__cont{
                    width: 100%;
                    p{
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                &__img{
                    width: 100%;
                    padding-right: 0;
                }
            }
            &__cont{
                &__box{
                    &__txt{
                        width: 100%;
                        padding-right: 0;
                        padding-left: 0;
                        img{
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 10px;
                        }
                    }
                    &__img{
                        display: none;
                    }
                }
                table{
                    td{
                        float: left;
                        width: 100%;
                        font-size: $fz14;
                        border-bottom: 0;
                        &:first-child{
                            width: 100%;
                            background: $color13;
                        }
                        &:last-child{
                            padding: 10px 0 20px;
                        }
                    }
                    &.tb_application td{
                        &:first-child{
                            width: 100%;
                            border: 0;
                        }
                        &:last-child{
                            border: 0;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        &__mess__cont .author p {
            font-size: $fz16;
            span{
                font-size: $fz1;
            }
        }
    }



    .group-privacy{
        font-size: $fz14;
        padding-top: $fz24;
        margin-bottom: 50px;
        p{
            text-align: justify;
        }
    
        &__item{
            padding-left: $fz15;
            margin-bottom: $fz24;
            border-left: 4px solid $color14;
    
            &:nth-child(2){
                margin-top: 50px;
            }
        }
    
        &__title{
            font-size: $fz17;
            line-height: 150%;
        }
    }

    .gp_foot{
        border-top: $color2 solid 4px;
    }

    .contact{
        padding: 15px 0 50px;
        &__main table td{
            font-size: $fz14;
            float: left;
            width: 100%;
            padding-bottom: 20px;
            input[type=text],input[type=email]{
                height: 40px;
                padding: 0 15px;
            }
            input[type=radio]{
                width: 15px;
                height: 15px;
            }
            &.in_radio{
                padding-left: 0;
            }
            &.in_address span:last-child{
                padding: 5px 0 0;
            }
            &:first-child{
                width: 100%;
                padding-bottom: 0;
            }
        }
    
    }

    .btn__submit{
        font-size: 14px;
        width: 240px;
        height: 50px;
    }

    .news__cont{
        padding: 15px 15px 30px;
    }

    .mv::before{
        height: 312px;
    }

    .anchor_fixtop{
        top: -18vw;
    }

    
    
    // end 767
}

